@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

:root {
  --first-color: #de6a5b;
  --second-color: #000000;
  --third-color: #6aa0af;
}

body {
  font-family: "Montserrat", sans-serif;
}

.h1-up {
  color: white;
  font-size: 300%;
}

a:hover {
  filter: brightness(50%);
}

p {
  align-items: center;
  text-align: left !important;
  font-family: "Montserrat", sans-serif;
}

.text-color-lblue {
  color: var(--first-color);
}

.Navbar {
  height: 100px;
  margin-bottom: 100px;
  position: fixed;
}

.navbar-inner {
  background: transparent;
}

.background-image {
  background: url("./Group\ 1.png");

  min-height: 700px;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  /* Needed to position the navbar */
  position: relative;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 10%);
}

.Navbar-text {
  color: white !important;
  font-size: 150% !important;
}

.CoralColor-start {
  background-color: var(--first-color);
}
.CoralColor {
  background-color: var(--third-color);
  min-height: 1000px;
}

.check {
  border-left: 1px solid;
  border-bottom: 1px solid;
}
.check-lblue {
  border-left: 2px solid var(--second-color);
  border-right: 2px solid var(--second-color);
}

.check-purple {
  border-left: 2px solid var(--first-color);
  border-bottom: 2px solid var(--first-color);
}
.check-purple-light {
  border-left: 2px solid var(--first-color);
  border-right: 2px solid var(--first-color);
}

.check-grey {
  border-left: 2px solid var(--third-color);
  border-bottom: 2px solid var(--third-color);
}
.check-grey-r {
  border-top: 2px solid var(--third-color);
  border-right: 2px solid var(--third-color);
}
.check-purple-r {
  border-top: 2px solid var(--first-color);
  border-right: 2px solid var(--first-color);
}

.card-bg {
  color: #473f4e;
  font-weight: bold;
  background-color: var(--first-color);
}

.background {
  width: 50%;
  margin-bottom: 50px;

  background-size: cover;

  /* Needed to position the navbar */
  position: relative;
  min-height: 700px;
  background-color: var(--first-color);
}

.circle {
  --hue-color: 250;
  background-color: var(--third-color);
  border-radius: 50%;
  width: 400px;
  height: 400px;
}

.Name-border {
  border: 3px solid var(--second-color);
}
.Name-border-1 {
  color: white;
  border: 3px solid var(--first-color);
}

.footer {
  background-color: #0e2431;
  color: #fff;
  text-align: center;
  font-weight: 600;
  padding: 2rem 0;
}
.footer__title {
  font-size: 2rem;
  margin-bottom: 2rem;
}
.footer__social {
  margin-bottom: 2rem;
}
.footer__icon {
  font-size: 1.5rem;
  color: #fff;
  margin: 0 1rem;
}

.scrolled-down {
  transform: translateY(-100%);
  transition: all 0.3s ease-in-out;
}
.scrolled-up {
  transform: translateY(0);
  transition: all 0.3s ease-in-out;
  background-color: white;
  opacity: 0.75;
}

.scrolled-top {
  background: transparent;
  transition: all 0.3s ease-in-out;
}

.pt-10 {
  padding-top: 150px;
}

.text-lblue {
  color: var(--second-color);
}

.text-purpl {
  color: var(--first-color);
  font-weight: bold;
}

.card-background {
  background-color: var(--third-color) !important;
  border: 1px solid var(--third-color) !important;
}
.card-background-image {
  border-bottom: 2px solid var(--second-color) !important;
  border-left: 2px solid var(--second-color) !important;
}

.title {
  background-image: url("./todoapp.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 320px;
}
.onHoverBlur {
  transition: all 0.3s ease-in-out !important;
  background-color: rgb(255, 255, 255, 0.5);
  filter: blur(2px) brightness(0.5);
}

.first-txt {
  transition: all 0.3s ease-in-out !important;

  position: absolute;
  top: 50%;
  left: 60%;
  transform: translate(-50%, -50%);
}

.second-txt {
  transition: all 0.3s ease-in-out !important;

  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
}
