@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  font-family: "Montserrat", sans-serif;
}

.h1-up {
  font-size: 300%;
}

a:hover {
  filter: brightness(50%);
}

p {
  align-items: center;
  text-align: left !important;
  font-family: "Montserrat", sans-serif;
}

.text-color-lblue {
  color: #00f7ff;
}

.Navbar {
  height: 100px;
  margin-bottom: 100px;
}

.navbar-inner {
  background: transparent;
}

.background-image {
  background-image: url("./asd.jpg");
  margin-bottom: 50px;

  min-height: 700px;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  /* Needed to position the navbar */
  position: relative;
  filter: brightness(70%);
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 10%);
}

.Navbar-text {
  color: black;
  font-size: 150%;
}

.CoralColor-start {
  background-color: #603f83ff;
}
.CoralColor {
  background-color: #c7d3d4ff;
  min-height: 500px;
}

.check {
  border-left: 1px solid;
  border-bottom: 1px solid;
}
.check-lblue {
  border-left: 2px solid #00f7ff;
  border-bottom: 2px solid #00f7ff;
}

.check-purple {
  border-left: 2px solid #603f83ff;
  border-bottom: 2px solid #603f83ff;
}

.check-grey {
  border-left: 2px solid #c7d3d4ff;
  border-bottom: 2px solid #c7d3d4ff;
}
.check-grey-r {
  border-top: 2px solid #c7d3d4ff;
  border-right: 2px solid #c7d3d4ff;
}

.card-bg {
  color: white;
  background-color: #603f83ff;
}

.background {
  width: 50%;
  margin-bottom: 50px;

  background-size: cover;

  /* Needed to position the navbar */
  position: relative;
  min-height: 700px;
  background-color: #603f83ff;
}

.circle {
  --hue-color: 250;
  background-color: #c7d3d4ff;
  border-radius: 50%;
  width: 400px;
  height: 400px;
}

.yep {
  color: red;
}

.yep:hover {
  filter: brightness(50%);
}

.Name-border {
  border: 2px solid #00f7ff;
}
.Name-border-1 {
  border: 2px solid #603f83ff;
}

.footer {
  background-color: #0e2431;
  color: #fff;
  text-align: center;
  font-weight: 600;
  padding: 2rem 0;
}
.footer__title {
  font-size: 2rem;
  margin-bottom: 2rem;
}
.footer__social {
  margin-bottom: 2rem;
}
.footer__icon {
  font-size: 1.5rem;
  color: #fff;
  margin: 0 1rem;
}
